
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li class="nav-item active"  >
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/databinding']">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/directive']">Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pipe']">Pipe</a>
        </li>
        <li class="nav-item">
          <!-- with single parameter
          <a class="nav-link" [routerLink]="['/product',4]">ProductParam1</a>
          with more than 1 parameter -->
          <!--required parameter-->
          <a class="nav-link" [routerLink]="['/product',4,'prod1']">Product-R</a>
        </li>
        <!--Optional parameter-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product',{id:4,prodName:'prod1'}]">Product-O</a>
        </li>
        <!--Query parameter-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" [queryParams]="{id:7,name:'prod1'}">Product-Q</a>
        </li>
        <!--nested routes-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/account']">Account</a>
        </li>
        <!--eager loading-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/eager']">Eager loading</a>
        </li>
        <!--lazy loading-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lazy']">Lazy loading</a>
        </li>
         <!--lazy loading-->
         <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lazy/profile']">Lazy loading-profile</a>
        </li>
          <!--component inheritance using http-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/inheritance']">inheritance</a>
          </li>
        <!--nested components using @input and @output-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nested']">Nested components</a>
        </li>
        <!--Template form-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/templateForm']">Template form</a>
        </li>
        <!--Reactive form-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reactiveForm']">Reactive form</a>
        </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>


