
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/databinding']">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/directive']">Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pipe']">Pipe</a>
        </li>
        <li class="nav-item">
          <!-- with single parameter
          <a class="nav-link" [routerLink]="['/product',4]">ProductParam1</a>
          with more than 1 parameter -->
          <!--required parameter-->
          <a class="nav-link" [routerLink]="['/product',4,'prod1']">Product-R</a>
        </li>
        <!--Optional parameter-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product',{id:4,prodName:'prod1'}]">Product-O</a>
        </li>
        <!--Query parameter-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" [queryParams]="{id:7,name:'prod1'}">Product-Q</a>
        </li>
    </ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>


